.list-group-right{
    margin-left: 17px;
    padding: 1em;
    overflow: hidden;
}
.page-header{
    padding: 1em;
    color: white;
    background-color: seagreen;;
    clear: left;
    text-align: center;
}